/* CSS declarations go here */
.rows {
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.cells {
    height: 100%;
    flex-basis: 40px;
    flex-shrink: 1;
    border-radius: 50%;
    background: black;
    color: white;
    line-height: 40px;
    text-align: center;
}