extends layout

block content
    h1 Smart Trains Portal
    h2 Raspberry Pi internet info:
    p SSID:
        span.ssid
    p IP:
        span.ip
    p Reported at:
        span.pi-time

    h2 Temperature:
    ul.temp
