@import "../../../../client/semantic-ui/semantic";

@metro_blue: rgb(9, 119, 186);

.carriage-image(@image) {
  background-image: url(@image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 46px;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url(/images/metro_map.png);
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  position: fixed;
}

.page {
  padding-top: 20px;
}